/* Colors */
$primary: #ff0101;
$secondary: #020203;
$tertiary: #fbfbfb;

/* Fonts */
$mainFont: "Roboto";
$wghtAndStyle: "0,400;0,500";

/* Breakpoints */
$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;

/* Others */
$mainFooterHeight: 209px;
$headerDesktopMarginTop: 45px;
$headerMobileMarginTop: 20px;
$mainNavHeight: 68px;
